/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --primary-color: #ff6600;
    --secondary-color: #000000;
    --background-color: #f8f9fa;
    --text-color: #000000;
    --error-color: red;
    --input-border-color: #ccc;
    --button-hover-color: #cc5200;
    --loader-border-color: #f3f3f3;
    --loader-border-top-color: #ff6600;
    --gradient-1: #370270;
    --gradient-2: #070707;
    --gradient-3: #000000;
    --body-color: #ccc;
    --header-bg-color: #38015234;
    --header-text-color: #ffffff;
    --avatar-text-shadow: 2px 2px 5px #000;
    --dropdown-bg-color: #7d01a336;
    --dropdown-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    --dropdown-border-color: 1px solid #ccc;
    --dropdown-menu-hover: #56038611;
    --input-bg-color: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(117, 137, 150, 0.25) 100%);
    --loader-border-color: #f3f3f3 #f3f3f3 transparent;
    --loader-border-after-color: transparent #ff6600 #ff6600;
}

/* General styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-size: 200% 200%;
    color: var(--body-color);
    gap:10px;
    background: 
    linear-gradient(165deg, var(--gradient-1), var(--gradient-2), var(--gradient-3)), 
    repeating-linear-gradient(0deg, #353535 0px, #353535 100px, transparent 100px, transparent 200px), 
    repeating-linear-gradient(90deg, #353535 0px, #353535 100px, transparent 100px, transparent 200px); 
    background-size: cover;
    background-blend-mode: overlay; 
    animation: pulseBackground 15s infinite ease-in-out;
}

@keyframes pulseBackground {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: left;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--loader-border-top-color);
}
h1{
    color:var(--loader-border-top-color);
}

header h2{
    padding-left: 20px;
    font-size: x-large;
}
header p{
    padding-right: 20px;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: small;
    display: none;
}

#userAvatar {
    display: inline;
    align-items: center;
    gap: 10px;
    padding-right:20px; 
}

#avatar {
    /* font-size: small; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7c7979;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    border: 2px solid var(--loader-border-top-color);
    /* text-shadow: var(--avatar-text-shadow); */
}

.dropdown-menu {
    position: absolute;
    top: 150%;
    right: 20px;
    background-color: var(--dropdown-bg-color);
    border-bottom: var(--dropdown-border-color);
    border-top: var(--dropdown-border-color);
    box-shadow: var(--dropdown-box-shadow);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    width: 130px;
}

.dropdown-menu a,
.dropdown-menu button {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--loader-border-color);
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
    background-color: #56038611;
}

.dropdown-menu hr {
    border: 1px solid #ccc;
    width: 80%;
    margin: 0 auto;
    opacity: 0.5;
}

footer{
    position:fixed;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: #38015234; 
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--loader-border-top-color);
    font-size: small;
}

footer p{
    color:var(--input-border-color);
    opacity: 0.8;;
}

h2{
    color: var(--primary-color);
}

/* #userProfile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
} */

/* Container styling */
#portal-container {
    width: 90%;
    max-width: 350px;
    padding: 20px;
    background: #4747471f;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primary-color);
}

#profile{
    /* display: flex; */
    width:480px;
    max-width: 480px;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 5px black;
}

.profileAvatarPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    
}

/* Input fields */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--input-border-color);
    border-radius: 16px;
    font-size: 16px;
    opacity: 0.8;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(117, 137, 150, 0.25) 100%);
    border: 2px solid #b7d9fa8e;
    font-family: 'Courier New', Courier, monospace;
    color: #ff6600;
}

input::placeholder {
    color: #91908f;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

input:focus {
    outline: none;
    border-color: var(--primary-color);
}

#allpasswords{
    /* font-family: Arial, sans-serif; */
    font-size: small;
    display: none;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    background-color: rgba(255, 68, 0, 0.151);
    border: 1px solid #ff6600;
    border-radius: 2px;
    padding: 5px;
}

#allpasswords p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 300px;
}



/* Button styling */
button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}



button:hover{
    border: 1px solid #f5eae3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: var(--button-hover-color);
}

a{
    font-size: small;
    color: #ccc;
    text-decoration: none;
}

a:hover{
    color: var(--primary-color);
}

a:visited{
    text-decoration: none;
}

/* Error messages */
.error {
    margin-top: 10px;
    color: var(--error-color);
    font-size: 14px;
    margin-bottom: 10px;
}

#log{
    margin-top: 5px;
    font-size: small;
    color: yellowgreen;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--loader-border-color);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: var(--loader-border-after-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      

